version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@1.1.0

workflows:
  setup1:
    jobs:
      - module-build:
          docker:
            - image: cimg/node:24.0.1
          steps:
            - run:
                name: Check directory
                command: pwd
      - continuation/continue:
          configuration_path: ./circleci/continue.yml
