version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# invoke the continuation orb to make the continuation/continue command available
orbs:
  continuation: circleci/continuation@1.1.0

jobs:
  set-param:
    docker:
      - image: cimg/node:24.0.1
    steps:
      - continuation/continue:
          parameters: '{ "further": true }'
          configuration_path: .circleci/continue.yml

workflows:
  use-my-orb:
    jobs:
      - set-param
